<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="javascript:;" class="nav-link">
        <div class="nav-profile-image">
          <img src="content/images/purple-template-images/images/faces/face1.jpg" alt="profile" />
          <span class="login-status online"></span>
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text">
          <span class="font-weight-bold mb-2">Nara</span>
          <span class="text-secondary text-small">Volunteer</span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ active: upcomingEvents.isActive || completedEvents.isActive }">
      <a class="nav-link" (click)="clickedMenu($event)" id="nav-link-12">
        <span class="menu-title">Events</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-shopping menu-icon"></i>
      </a>
      <div class="collapse" id="e-commerce" [ngbCollapse]="parentId !== 'nav-link-12'">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="events" routerLinkActive="active" #upcomingEvents="routerLinkActive">Upcoming </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="completedEventForPrototype" routerLinkActive="active" #completedEvents="routerLinkActive"
              >Completed
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{ active: calendar.isActive }">
      <a class="nav-link" (click)="clickedMenu($event)" routerLink="apps/calendar" routerLinkActive #calendar="routerLinkActive">
        <span class="menu-title">Settings</span>
        <i class="mdi mdi-calendar-today menu-icon"></i>
      </a>
    </li>
    <li *ngIf="isAdminLogin$ | async" class="nav-item" [ngClass]="{ active: calendar.isActive }">
      <a class="nav-link" (click)="clickedMenu($event)" routerLink="apps/calendar" routerLinkActive #calendar="routerLinkActive">
        <span class="menu-title">ADMIN ONLY</span>
        <i class="mdi mdi-calendar-today menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">
        <span class="menu-title" style="color: orangered">Logout</span>
        <i class="mdi mdi-logout menu-icon" style="color: orangered"></i>
      </a>
    </li>
  </ul>
</nav>
