<div class="d-flex align-items-center auth px-0">
  <div class="row w-100 mx-0">
    <div class="col-lg-4 mx-auto mt-5 mb-5">
      <form class="form" role="form" (ngSubmit)="registerForm.valid && register()" [formGroup]="registerForm">
        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
          <div class="brand-logo">
            <img class="logo-display" src="content/images/akshaya-patra-logo.png" alt="logo"/>
          </div>
          <div *ngIf="!success">
            <h4>New here?</h4>
            <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>
            <div class="row mt-3 form-group">
              <div class="col-md-6">
                <input type="text" class="form-control" formControlName="firstName" placeholder="First Name"/>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name"/>
              </div>
            </div>
            <div class="form-group">
              <input
                formControlName="login"
                type="text"
                class="form-control form-control-lg"
                id="exampleInputUsername1"
                placeholder="Username"
              />
            </div>
            <div class="form-group">
              <input
                formControlName="email"
                type="email"
                class="form-control form-control-lg"
                id="exampleInputEmail1"
                placeholder="Email"
              />
            </div>
            <div class="form-group">
              <input
                formControlName="phoneNumber"
                type="tel"
                class="form-control form-control-lg"
                id="phoneNumber"
                placeholder="Phone Number"
              />
              <p *ngIf="registerForm.controls['phoneNumber'].errors?.pattern" class="validation-error-message">
                Only numbers please
              </p>
            </div>
            <div class="form-group">
              <input
                formControlName="password"
                type="password"
                class="form-control form-control-lg"
                id="exampleInputPassword1"
                placeholder="Password"
              />

              <div *ngIf="!passwordsAreStrongEnough" class="input-information">
                  Minimum eight characters, at least one letter, one number and one special character:
              </div>
            </div>
            <div class="form-group">
              <input
                formControlName="confirmPassword"
                type="password"
                class="form-control form-control-lg"
                id="confirmPassword"
                placeholder="Confirm Password"
              />
            </div>
            <div class="mb-4">
              <div class="form-check">
                <label class="form-check-label text-muted">
                  <input formControlName="termsAndConditions" type="checkbox" class="form-check-input"/>
                  <i class="input-helper"></i>
                  I agree to all Terms & Conditions
                </label>
              </div>
            </div>
            <div class="mt-3">
              <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Register</button>
            </div>
            <div *ngIf="success" style="color: green; text-align: center" class="mt-3">
              <p>Registration Successful! Please confirm your account via the activation email!</p>
            </div>
            <div *ngIf="passwordsDoNotMatch" style="color: red; text-align: center" class="mt-3">
              <p>Please make sure both passwords match!</p>
            </div>
            <!--            <div *ngIf="!passwordsAreStrongEnough" style="color: red; text-align: center" class="mt-3">-->
            <!--              <p>Please ensure that both passwords meet the following strength requirements:-->
            <!--                <br>-->
            <!--              8+ characters-->
            <!--                <br>-->
            <!--              contains atleast 1 letter-->
            <!--                <br>-->
            <!--              contains atleast 1 number-->
            <!--                <br>-->
            <!--              contains atleast 1 special character</p>-->
            <!--            </div>-->
            <div *ngIf="showTermsAndConditionsNeedsToBeAcceptedMessage" style="color: red; text-align: center" class="mt-3">
              <p>You must accept the terms and conditions in order to register!</p>
            </div>
            <div *ngIf="errorEmailExists" style="color: red; text-align: center" class="mt-3">
              <p>Sorry! That email is already being used by another account! Please use a different email!</p>
            </div>
            <div *ngIf="errorUserExists" style="color: red; text-align: center" class="mt-3">
              <p>Sorry! That username is already being used by another account! Please use a different username!</p>
            </div>
            <div *ngIf="error" style="color: red; text-align: center" class="mt-3">
              <p>Sorry! Unknown error! Please submit an email so that I can look into this defect!</p>
            </div>
            <div class="text-center mt-4 font-weight-light">
              Already have an account? <a routerLink="/login" class="text-primary">Login</a>
            </div>
          </div>
          <div *ngIf="success">
            Registration Successful! Please check your email to activate your account before you log in. <br/><br/>
            The email will contain a link which activates your account and redirects you to the login page.
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
