<div class="d-flex align-items-center auth px-0">
  <div class="row w-100 mx-0">
    <div class="col-lg-4 mx-auto mt-5 mb-5">
      <div class="auth-form-light text-left py-5 px-4 px-sm-5">
        <div class="brand-logo">
          <img class="block-display-centered" src="content/images/akshaya-patra-logo.png" alt="logo" />
        </div>
        <div *ngIf="!success">
          <h4>Reset Password</h4>
          <h6 class="font-weight-light">Please enter the email associated with your account, we will send you a reset email</h6>
          <form [formGroup]="resetRequestForm" (ngSubmit)="requestReset()" class="pt-3">
            <div class="form-group">
              <input type="email" formControlName="email" class="form-control form-control-lg" placeholder="email" />
            </div>
            <div class="mt-3">
              <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Reset Password</button>
            </div>
          </form>
        </div>
        <div *ngIf="success">Request successful. Please check your email to complete your password reset.</div>
      </div>
    </div>
  </div>
</div>
