<jhi-event
  style="cursor: pointer"
  *ngFor="let event of events$ | async"
  [event]="event"
  [hideButton]="true"
  (click)="navigateToEvent(event.id)"
  [isCompactView]="true"
></jhi-event>

<!--<div *ngIf="false" style="cursor: pointer" (click)="navigateToEvent('0')" class="col-md-12 stretch-card grid-margin">-->
<!--  <div class="card bg-gradient-success card-img-holder text-white">-->
<!--    <div class="card-body">-->
<!--      <p>(CLICKABLE FOR PROTOTYPE)</p>-->
<!--      <img src="content/images/purple-template-images/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />-->
<!--      <h6 class="font-weight-normal mb-3">-->
<!--        {{ (jaipurEventStatus$ | async)?.numberRegistered }}/15 volunteers<i class="mdi mdi-food-apple mdi-24px float-right"></i>-->
<!--      </h6>-->
<!--      <h1 class="mb-3">Food Drive {{ (jaipurEventStatus$ | async)?.isRegistered ? '(REGISTERED)' : '' }}</h1>-->
<!--      <h5 class="card-text">Jaipur, India</h5>-->
<!--      <h6 class="card-text">12 May, 2022</h6>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
