<div class="col-md-12 stretch-card grid-margin">
  <div class="card bg-gradient-primary card-img-holder text-white">
    <div class="card-body">
      <img src="content/images/purple-template-images/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
      <h6 class="font-weight-normal mb-3">13/30 volunteers<i class="mdi mdi-school mdi-24px float-right"></i></h6>
      <h1 class="mb-3">Education</h1>
      <h5 class="card-text">Jaipur, India</h5>
      <h6 class="card-text">22 February, 2022</h6>
    </div>
  </div>
</div>
<div style="cursor: pointer" (click)="navigateToEvent('0')" class="col-md-12 stretch-card grid-margin">
  <div class="card bg-gradient-success card-img-holder text-white">
    <div class="card-body">
      <p>(CLICKABLE FOR PROTOTYPE)</p>
      <img src="content/images/purple-template-images/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
      <h6 class="font-weight-normal mb-3">
        {{ (jaipurEventStatus$ | async)?.numberRegistered }}/15 volunteers<i class="mdi mdi-food-apple mdi-24px float-right"></i>
      </h6>
      <h1 class="mb-3">Food Drive {{ (jaipurEventStatus$ | async)?.isRegistered ? '(REGISTERED)' : '' }}</h1>
      <h5 class="card-text">Jaipur, India</h5>
      <h6 class="card-text">12 May, 2022</h6>
    </div>
  </div>
</div>
<div class="col-md-12 stretch-card grid-margin">
  <div class="card bg-gradient-success card-img-holder text-white">
    <div class="card-body">
      <img src="content/images/purple-template-images/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
      <h6 class="font-weight-normal mb-3">33/50 volunteers<i class="mdi mdi-food-apple mdi-24px float-right"></i></h6>
      <h1 class="mb-3">Food Drive</h1>
      <h5 class="card-text">Bangalore, India</h5>
      <h6 class="card-text">16 June, 2022</h6>
    </div>
  </div>
</div>
<div class="col-md-12 stretch-card grid-margin">
  <div class="card bg-gradient-info card-img-holder text-white">
    <div class="card-body">
      <img src="content/images/purple-template-images/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
      <h6 class="font-weight-normal mb-3">11/15 volunteers<i class="mdi mdi mdi-water mdi-24px float-right"></i></h6>
      <h1 class="mb-3">Water Collection</h1>
      <h5 class="card-text">Mumbai, India</h5>
      <h6 class="card-text">11 August, 2022</h6>
    </div>
  </div>
</div>
<div class="col-md-12 stretch-card grid-margin">
  <div class="card bg-gradient-primary card-img-holder text-white">
    <div class="card-body">
      <img src="content/images/purple-template-images/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
      <h6 class="font-weight-normal mb-3">4/5 volunteers<i class="mdi mdi-school mdi-24px float-right"></i></h6>
      <h1 class="mb-3">Education</h1>
      <h5 class="card-text">Hyderabad, India</h5>
      <h6 class="card-text">29 September, 2022</h6>
    </div>
  </div>
</div>
<div class="col-md-12 stretch-card grid-margin">
  <div class="card bg-gradient-danger card-img-holder text-white">
    <div class="card-body">
      <img src="content/images/purple-template-images/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
      <h6 class="font-weight-normal mb-3">8/10 volunteers<i class="mdi mdi mdi-flower mdi-24px float-right"></i></h6>
      <h1 class="mb-3">Environmental Work</h1>
      <h5 class="card-text">Kolkata, India</h5>
      <h6 class="card-text">30 November, 2022</h6>
    </div>
  </div>
</div>
