<div class="col-md-12 stretch-card grid-margin">
  <div class="card bg-gradient-primary card-img-holder text-white">
    <div class="card-body">
      <img
        *ngIf="hideButton"
        src="content/images/purple-template-images/images/dashboard/circle.svg"
        class="card-img-absolute"
        alt="circle-image"
      />
<!--      temporary hack, will fix later-->
      <h6 *ngIf="isCompactView" class="font-weight-normal mb-3">Event Name: {{event.eventName}}</h6>
      <h6 *ngIf="isCompactView" class="font-weight-normal mb-3">Event Description: {{event.description}}</h6>
      <h6 *ngIf="isCompactView" class="font-weight-normal mb-3">Event Volunteers Needed: {{event.volunteersNeededAmount}} </h6>
      <h6 *ngIf="!isCompactView" class="font-weight-normal mb-3">Event Name: {{event.eventName}}</h6>
      <h6 *ngIf="!isCompactView" class="font-weight-normal mb-3">Event Description: {{event.description}}</h6>
      <h6 *ngIf="!isCompactView" class="font-weight-normal mb-3">Event Volunteers Needed: {{event.volunteersNeededAmount}} </h6>
      <h6 *ngIf="!isCompactView" class="font-weight-normal mb-3">Event Start Date: {{event.startDate}}</h6>
      <h6 *ngIf="!isCompactView" class="font-weight-normal mb-3">Event End Date:{{event.endDate}} </h6>
      <h6 *ngIf="!isCompactView" class="font-weight-normal mb-3">Event Start Time: {{event.startTime}} </h6>
      <h6 *ngIf="!isCompactView" class="font-weight-normal mb-3">Event End Time: {{event.endTime}} </h6>
      <h6 *ngIf="!isCompactView" class="font-weight-normal mb-3">Event Contact Name: {{event.contactName}} </h6>
      <h6 *ngIf="!isCompactView" class="font-weight-normal mb-3">Event Contact Phone Number: {{event.contactPhoneNumber}} </h6>
      <h6 *ngIf="!isCompactView" class="font-weight-normal mb-3">Event Contact Email: {{event.contactEmail}} </h6>
      <h6 *ngIf="!isCompactView" class="font-weight-normal mb-3">Event Email Body: {{event.emailBody}} </h6>
      <h6 *ngIf="!isCompactView" class="font-weight-normal mb-3">Event Physical Location: {{event.physicalLocation}} </h6>
      <h6 *ngIf="!isCompactView" class="font-weight-normal mb-3">Event Virtual Location: {{event.virtualLocation}} </h6>
      <h6 *ngIf="!isCompactView" class="font-weight-normal mb-3">Event Causes: {{event.causes}} </h6>
      <h6 *ngIf="!isCompactView" class="font-weight-normal mb-3">Event Corporate Subgroup Ids: {{event.corporateSubgroupIds}} </h6>
      <!--      <h5 *ngIf="event.physicalLocation" class="card-text">{{ (event.physicalLocation) }}</h5>-->
      <!--      <h5 *ngIf="event.virtualLocation" class="card-text">{{ (event.virtualLocation) }}</h5>-->
      <a *ngIf="!hideButton && !(isAdmin$ | async) && !isCompleted"
        role="button"
        class="float-right btn btn-outline-light text-light btn-fw" >{{ false ? 'Unregister' : 'Sign Up' }}</a
      >
    </div>
  </div>
</div>

<!--<div *ngIf="isPrototypeEvent" class="col-md-12 stretch-card grid-margin">-->
<!--  <div class="card bg-gradient-success card-img-holder text-white">-->
<!--    <div class="card-body">-->
<!--      <h6 class="font-weight-normal mb-3">-->
<!--        {{ (jaipurStatus$ | async)?.numberRegistered + '/15 volunteers' }}<i class="mdi mdi-food-apple mdi-24px float-right"></i>-->
<!--      </h6>-->
<!--      <h1 class="mb-3">-->
<!--        Food Drive-->
<!--        {{ (jaipurStatus$ | async)?.isRegistered ? '(REGISTERED)' : '' }}-->
<!--      </h1>-->
<!--      <h5 class="card-text">Jaipur, India</h5>-->
<!--      <h6 class="card-text">12 May, 2022</h6>-->
<!--      <a (click)="registrationButtonClick()" role="button" class="float-right btn btn-outline-light text-light btn-fw">{{-->
<!--        isRegistered ? 'Unregister' : 'Sign Up'-->
<!--      }}</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
