<div *ngIf="event$ | async as event" class="row justify-content-center">
  <div
    *ngIf="(event.image && (event.image.id | secureImageSrc | async)  || 'content/images/akshaya-patra-images/Akshaya-Patra-Foundation.jpeg') as imageSrc"
    class="card col-8" style="padding: 0">
    <img class="card-img-top"
         [attr.src]="imageSrc" alt="Card image cap">
    <div class="card-body" style="padding: 1.25rem 1.25rem">
      <h1 class="text-center">{{event.eventName}}</h1>
      <div class="row">
        <p class="card-text col-sm-3"><i
          class="mdi mdi-account-multiple"></i>&nbsp;{{event.currentAmountOfVolunteers + '/' + event.volunteersNeededAmount + ' volunteers'}}
        </p>
        <p class="card-text col-sm-3"><i class="mdi mdi-clock"></i>&nbsp;{{(event.startTime | time) + '-' + (event.endTime | time)}}</p>
        <p *ngIf="event.physicalLocation as physicalLocation" class="card-text col-sm-3">
          <i class="mdi mdi-map-marker"></i>
          &nbsp;{{physicalLocation | address}}</p>

        <p *ngIf="event.virtualLocation" class="card-text col-sm-3" style="margin-bottom: 1rem"><i
          class=" mdi mdi-laptop-chromebook"></i>&nbsp;{{event.virtualLocation.url + ', password: ' + event.virtualLocation.passcode}}</p>
        <p class="card-text col-sm-3"><i class="mdi mdi-calendar"></i>&nbsp;{{event.startDate | date }} to {{event.endDate | date }} </p>
      </div>

      <hr/>
      <div class="row">
        <div class="text-center col-sm-6">
          <p class="card-text"><i class="mdi mdi mdi-note-text"></i>&nbsp;
            {{event.description ? event.description : 'No event description'}}</p>
        </div>
        <div class="text-center col-sm-6">
          <p class="card-text"><i class="mdi mdi-phone"></i>&nbsp;
            {{
            !event.contactName && !event.contactEmail && !event.contactPhoneNumber ?
              'No Contact Details' :
              (event.contactName ? event.contactName + ', ' : '' +
              event.contactEmail ? event.contactEmail + ', ' : '' +
              event.contactPhoneNumber ? event.contactPhoneNumber : '')
            }} </p>
        </div>
      </div>

      <hr/>
      <div class="row justify-content-around">
        <a *ngIf="!isPastEvent"
           showIfIsNormalUser
           (click)="buttonFunction(event.id)"
           role="button"
           class="col-4 btn btn-inverse-{{buttonColor}} btn-fw">{{ buttonText }}</a>
        <a showOnlyIfAdmin
           (click)="saveCsv(event.id)"
           role="button"
           class="col-4 btn btn-inverse-info btn-fw">Volunteers CSV</a>
        <a showOnlyIfAdmin
           (click)="deleteEvent(event.id)"
           role="button"
           class="col-4 btn btn-inverse-danger btn-fw">Delete This Event</a>
      </div>

      <div showOnlyIfAdmin>
        <hr/>
        <h3 class="text-center">Admin Info</h3>
        <div class="row">
          <div class="text-center col-sm-6">
            <span class="card-test" class="card-text">Tags: </span>
            <div class="card-text">{{event.causes | causes }}</div>
          </div>
          <div class="text-center col-sm-6">
            <span class="card-test" class="card-text">Email Filters: </span>
            <div *ngIf="event.emailFilters && event.emailFilters.length > 0; then emailfilters else noemailfilters">
            </div>
            <ng-template #emailfilters class="card-text">{{event.emailFilters}} </ng-template>
            <ng-template #noemailfilters class="card-text">None</ng-template>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


