<div class="col-md-12 stretch-card grid-margin">
  <div class="card bg-gradient-success card-img-holder text-white">
    <div class="card-body">
      <h6 class="font-weight-normal mb-3">
        {{ (jaipurStatus$ | async)?.numberRegistered + '/15 volunteers' }}<i class="mdi mdi-food-apple mdi-24px float-right"></i>
      </h6>
      <h1 class="mb-3">
        Food Drive
        {{ (jaipurStatus$ | async)?.isRegistered ? '(REGISTERED)' : '' }}
      </h1>
      <h5 class="card-text">Jaipur, India</h5>
      <h6 class="card-text">12 May, 2022</h6>
      <a (click)="registrationButtonClick()" role="button" class="float-right btn btn-outline-light text-light btn-fw">{{
        isRegistered ? 'Unregister' : 'Sign Up'
      }}</a>
    </div>
  </div>
</div>
